<div class="card">
<h1>Welcome to the Cecilia Poellein Violin Studio!</h1> 

<div class="events">
<h2>Future Events:</h2>
{{#each Events}}
<h3>{{title}}</h3>
<p>{{body}}</p>
<p>When: {{date}}</p>

{{#if ../admin}}
<button id="eventDeleteBtn">Delete</button>
{{/if}}

{{/each}}

<hr>
</div>
</div>

{{#if admin}}
<form action="" id="newFutureEventForm">
<h1>Create a New Future Event/Post!</h1>
        <input type="text" name="newFutureEventTitle" id="newFutureEventTitle" placeholder="Future Event Title Here">
        <input type="text" name="newFutureEventBody" id="newFutureEventBody" placeholder="Write About The Future Event Here">
        <input type="text" name="newFutureEventDate" id="newFutureEventDate" placeholder="Date">
        <button id="eventSubmitBtn">Submit</button>
</form>
<hr>
{{/if}}

<script src="/js/home.js"></script>