<h1>Interested in taking you or your child's violin skills to the next level?</h1>
<h2>Contact Me for a Consultation! Please send a 2 minute audio recording of a piece, and include one scale.</h2>
<h3>Email:</h3>


<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button id="btn">Login</button>
</form>
<hr>

<script src="/js/login.js"></script>